mat-card{
    background-color: turquoise;
    padding: 10px;
    font-size: 1.5rem;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.rojo{
    background-color: red;
}
.verde{
    background-color: green;
}
.amarillo{
    background-color: greenyellow;
}

mat-icon{
    margin-left: 50px;
    cursor: pointer;
}