/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    box-sizing: border-box;
}
html { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}